$color-brand-dark: #5853ff;
$color-brand-light: #665efd;
$color-brand: #6c63ff;
$color-white: #fff;
$color-gray: #a5a5a5;
$color-gray-0: #959494;
$color-gray-1: #696868;
$color-gray-2: #5a5a5a;
$color-input: #fafafa;
$color-input-1: #f0efef;
$color-border: #e2e1e1;
$color-red: crimson;
$color-blue: #003cff;
$color-dark: #181818;
